@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');


/* -------------common shared styles--------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 100px;
    overflow: hidden;
}

.primary-text {
    color: #131318b3;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.primary-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

/* -----------------header section styles-------------- */

/* ------nav menu styles------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.nav-title {
    display: flex;
   align-items: center;
   gap: 16px;
}

.nav-title h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-title h3 span {
    color: #FF5400;
}

.nav-menu ul {
    display: flex;
    gap: 35px;
}

 ul  .menu {
    display: flex;
    gap: 35px;

}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}

.nav-menu ul li a:hover {
    color: #FF5400;
}

.responsive-menu {
    display: none;
}


/* -----header-banner styles------- */
.header-banner {
    width: 100%;
    min-height: 500px;
    margin: 50px 0 0 0;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Asssets/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding: 106px 0;
    overflow: hidden;
}


.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 247px;
}

.header-form form {
    margin-top: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(1px);



}

.header-form form input, .header-form form select {
    width: 174px;
    padding: 16px 14px 16px 15px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
}


.search-button {
    width: 174px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 16px 35px;
    border-radius: 8px;
    background: #FF5400;
}

.search-button button {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    background: #FF5400;
}


/* ----------------main section style------------ */

.popular-tour-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-tour-container-left {
    width: 50%;
}

.popular-tour-container-left p, .popular-tour-container-left ul  {
    margin-top: 24px;
}


.popular-tour-container-left ul li {
    list-style-position: inside;
}

.readmore-button {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px 13px 35px  ;
    border: 0;
    margin-top: 32px;



}
.popular-tour-container-right {
    width: calc(50% - 53px);
}

.popular-tour-container-right img {
    width: 100%;
}

/* destination section styles */

.destination-container {
    margin-top: 100px;
    text-align: center;
}

.destination-container p {
    margin-top: 24px;
}


.destination-title-container {
    margin-top: 48px;
    display: grid;
    gap: 24px;
    grid-template-rows: 300px 286px 300px;
    grid-template-areas: 
    "first first first first first  first    second   second second    second     second   second"
    "third third third third fourth fourth   fourth   fourth fourth    fifth      fifth    fifth"
    "sixth sixth sixth sixth sixth  seventh  seventh  seventh seventh   seventh   seventh   seventh";
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}


#box-1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: first;
}
#box-2 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: second;
}


#box-3 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: third;
}
#box-4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: fourth;
}
#box-5 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: fifth;
}
#box-6 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: sixth;
}
#box-7 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: seventh
}













