@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');


/* -------------common shared styles--------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 100px;
    overflow: hidden;
}

.primary-text {
    color: #131318b3;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.primary-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

/* -----------------header section styles-------------- */

/* ------nav menu styles------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.nav-title {
    display: flex;
   align-items: center;
   gap: 16px;
}

.nav-title h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-title h3 span {
    color: #FF5400;
}

.nav-menu ul {
    display: flex;
    gap: 35px;
}

 ul  .menu {
    display: flex;
    gap: 35px;

}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}

.nav-menu ul li a:hover {
    color: #FF5400;
}

.responsive-menu {
    display: none;
}


/* -----header-banner styles------- */
.header-banner {
    width: 100%;
    min-height: 500px;
    margin: 50px 0 0 0;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Asssets/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding: 106px 0;
    overflow: hidden;
}


.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 247px;
}

.header-form form {
    margin-top: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(1px);



}

.header-form form input, .header-form form select {
    width: 174px;
    padding: 16px 14px 16px 15px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
}


.search-button {
    width: 174px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 16px 35px;
    border-radius: 8px;
    background: #FF5400;
}

.search-button button {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    background: #FF5400;
}




/* ----------------main section style------------ */


/* --------category section  styles------- */
.catagory-container {
    margin: 100px 0 0 0;
    text-align: center;
}

.catagory-container h2 {
    margin: 0 0 24px 0;
}
.catagory-container p {
    padding: 0 0 24px 0;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);;
}

.catagory-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 24px;
}

.catagory-title {
    color: #FFFfff;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 600;
}

.catargory {
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#catagory-1  {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/Solo\ Travel.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}
#catagory-2  {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/mount\ travel.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}
#catagory-3  {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/jungle\ travel.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}
#catagory-4  {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/Road\ Travel.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}
#catagory-5  {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/Ossian\ travel.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}
#catagory-6  {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/Old\ city.png');
    border-radius: 16px;
    background-position: center;
    background-size: cover;

}








/* ---------popular tour section style------- */
.popular-tour-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-tour-container-left {
    width: 50%;
}

.popular-tour-container-left p, .popular-tour-container-left ul  {
    margin-top: 24px;
}


.popular-tour-container-left ul li {
    list-style-position: inside;
}

.readmore-button {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px 13px 35px  ;
    border: 0;
    margin-top: 32px;



}
.popular-tour-container-right {
    width: calc(50% - 53px);
}

.popular-tour-container-right img {
    width: 100%;
}

/* destination section styles */

.destination-container {
    margin-top: 100px;
    text-align: center;
}

.destination-container p {
    margin-top: 24px;
}


.destination-title-container {
    margin-top: 48px;
    display: grid;
    gap: 24px;
    grid-template-rows: 300px 286px 300px;
    grid-template-areas: 
    "first first first first first  first    second   second second    second     second   second"
    "third third third third fourth fourth   fourth   fourth fourth    fifth      fifth    fifth"
    "sixth sixth sixth sixth sixth  seventh  seventh  seventh seventh   seventh   seventh   seventh";
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}


#box-1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: first;
}
#box-2 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 8.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: second;
}


#box-3 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: third;
}
#box-4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: fourth;
}
#box-5 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: fifth;
}
#box-6 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: sixth;
}
#box-7 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), url('../Asssets/Rectangle\ 10.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: seventh
}

/* deals and discount section styles */

.discount-container {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.discount-container .primary-text {
    margin-top: 24px;
}

.discount-1 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/Kashmir.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
    display: flex;
    justify-content: flex-end;



}
.discount-2 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/Langkawi.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
    display: flex;
    justify-content: flex-start;
}
.discount-3 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Asssets/cox\'s\ bazar.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
    display: flex;
    justify-content: flex-end;
}

.disount-detail-container {
    width: 50%;
    padding: 52px 50px 50px;
    text-align: left;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);

}

.discount-info {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}

.discount-info h4 {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.discount-info img {
    width: 24px;
}



.days, .peoples, .location {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.discount-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    
}

.disount-detail-container .primary-text {
    margin-top: 16px;
}

.discount-price {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
}

.book-now-btn, .all-package-button, .see-more-btn {
    margin-top: 24px;
    padding: 14px 25px 13px 24px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}


/* ------------video container styles----------- */
.video-container {
    margin-top: 100px;
    display: flex;
    gap: 28px;
}

.video-container-left {
    width: calc(50% - 14px);
}

.video-container-left p {
    margin: 24px 0;
}

.video-container-left ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.video-container-right {
    width: calc(50% - 14px);
    
}

.video-container-right iframe {
    border-radius: 16px;
    width:100%; 
   height: 100%;
}





















/* --------------service sectiion styles-------------- */
.services-container {
    margin-top: 100px;
    text-align: center;
}

.services-container h2 {
    margin-bottom: 24px;
}
.services-container p {
    margin-bottom: 48px;
}

.services-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
   align-content: center;
   
}




.services-card-1 {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid #fbb56333;
    background: #fbb5630d;
    width: calc(50% - 12px);
    text-align: left;
}
.services-card-2 {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: calc(50% - 12px);
    text-align: left;
    
}
.services-card-3 {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: calc(50% - 12px);
    text-align: left;

}

.card-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin: 32px 0 16px 0;
}

.services-card-container p {
    margin: 0;
}


/* -----------subscribe-sectin styles---------- */

.subsribe-container {
    margin-top: 100px;
    display: flex;
    gap: 24px;
   
}

.subscribe-container-left {
    padding: 40px 41px 40px 40px;
    width: calc(40% - 12px);
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.subscribe-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
   
}

.subscribe-container-left p {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);;
}

.subscribe-container-left form {
    margin-top: 24px;
}

.subscribe-container-left form input {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    outline: 0;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}

.subscribe-container-left form button {
    width: 100%;
    padding: 16px 20px;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: 0;

}

.subscribe-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: calc(60% - 12px);
    border-radius: 16px;
    background: url('../Asssets/Rectangle\ 8\ \(1\).png');
    background-size: cover;
    background-position: center;
}


.offer-box {
    width: 324px;
    padding: 16px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    margin: 0 4px 47px 0;

    


}

.offer-title {
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-weight: 400;

}


.offer-descripton {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

/* ----------footer styles------- */

.footer {
    max-width: 1440px;
    margin: 100px auto 0;
    padding: 110px 184px;
    background: #1313180d;
    text-align: center;
    overflow: hidden;
}


.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
    
}

.footer-title h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.footer-title h3 span {
    color: #FF5400;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 32px 0 50px 0;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.social-link img {
    transition: 0.5s;
}

.social-link img:hover {
    transform: translateY(-5px);
}

.copy-right-text {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
    
}

























