/* ------large divices styles------- */
@media screen and (max-width: 992px) {
    
    .container {
        padding: 30px 30px 0;
    }

    ul .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .banner-description {
        margin: 24px 30px;
    }

    .footer {
        padding: 30px 30px 30px;
        
    }

    .discount-info {
        gap: 8px;
    }
    
    
    .days, .peoples, .location {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
    }



}











/* ----------medium devices styles----------- */

@media screen and (max-width: 768px) {

    .nav-title {
        gap: 10px;
    }

    .nav-title img {
        width: 40px;
    }
    
    .nav-title h3 {
        font-size: 1.75rem;
    }


    .banner-title {
        font-size: 48px;
    }

    nav {
        padding-top: 0;
    }

    .popular-tour-container {
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        gap: 24px;

    }

    .popular-tour-container-left {
        width: 100%;
    }

    .popular-tour-container-right {
        width: 100%;
    }

    .destination-title-container {

        grid-template-rows: repeat(5, 286px);
        grid-template-areas: 
    "first first first first first  first first first first first first  first"
    " second   second second    second     second   second second   second second    second     second   second"
    "third third third third third third third fourth fourth   fourth   fourth fourth"
    "fifth      fifth    fifth fifth fifth fifth  sixth sixth sixth sixth   sixth sixth"
    "seventh  seventh  seventh seventh seventh  seventh  seventh seventh seventh  seventh  seventh seventh";
}

.services-card-container {
    flex-direction: column;
}


.services-card-1 {
    width: 100%;

}

.services-card-2 {
    width: 100%;
    
}

.services-card-3 {
    width: 100%;

}
    
.subsribe-container {
    margin-top: 24px;
    flex-direction: column;
}

.subscribe-container-left {
    width: 100%;

}

.subscribe-container-right {
    width: 100%;
    min-height: 422px;
}


.discount-1, .discount-2, .discount-3 {
    min-height: 700px;
    justify-content: center;
    align-items: end;
}

.disount-detail-container {
    width: 100%;
}

.video-container {
    margin-top: 24px;
    flex-direction: column;
}

.video-container-left {
    width: 100%;
}

.video-container-right {
    width: 100%;
    
}

.video-container-right iframe {
    border-radius: 8px;
    width:100%; 
   height: 315px;
}




}










/* -----------small devices styles----------- */


@media screen and (max-width: 576px) {

    .nav-title img {
        width: 29px;
    }

    .nav-title h3 {
        font-size: 21.543px;
    }

    .header-banner {
        padding: 32px 0 48px 0;
    }

    .banner-title {
        font-size: 22px;
    }

    .banner-description {
        font-size: 14px;
    }

    .header-form form {
        flex-direction: column;
        margin-top: 32px;
    }

    .header-form form input, .header-form form select {
        width:255px;
    }

    .search-button {
        width: 255px;
    }

    .popular-tour-container {
        margin-top: 24px;
        align-items: center;
        flex-direction: column;
        gap: 24px;

    }

    .primary-title {
        font-size: 20px;
    }

    .primary-text {
        font-size: 14px;
        margin-top: 16px;
    }


    .destination-container {
        margin-top: 24px;

    }

    .destination-title-container {
        margin-top: 16px;
        gap: 16px;
        grid-template-rows: repeat(7, 176px);
        grid-template-areas: 
    "first first first first first  first first first first first first  first"
    " second   second second    second     second   second second   second second    second     second   second"
    "third third third third third third third third third third third third"
    "fourth fourth   fourth   fourth fourth fourth fourth   fourth   fourth fourth fourth fourth"
    "fifth      fifth    fifth fifth fifth fifth fifth      fifth    fifth fifth fifth fifth"
    " sixth sixth sixth sixth   sixth sixth sixth sixth sixth sixth   sixth sixth"
    "seventh  seventh  seventh seventh seventh  seventh  seventh seventh seventh  seventh  seventh seventh";
}

.destination-title {
    font-size: 20px;
    font-weight: 700;
}


.services-container {
    margin-top: 24px;
}

.services-card-container {
   gap: 16px;
}

.services-card-container img {
    width: 48px;
}

.card-title {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
    margin: 16px 0 16px 0;
}

.offer-box {
    width: 214.023px;
    height: 79.268px;
    transform: rotate(-19.628deg);
    border-radius: 10.569px;
    margin: 0 4px 30px 0;

}

.offer-title {
    font-size: 15.854px;

}


.offer-descripton {
    font-size: 21.138px;
   
}


.footer-title img {
    width: 29px;
}

.footer-title h3 {
    font-size: 21.543px;
}

.disount-detail-container {
    padding: 26px 25px 26px;

}


.discount-1, .discount-2, .discount-3 {
    min-height: 600px;
    padding: 16px;
   

}

.discount-title {
    font-size: 20px;
}

.discount-price {
    font-size: 16px;
}

.book-now-btn, .all-package-button, .see-more-btn {
    margin-top: 16px;
    padding: 9px 20px 9px 20px;
    font-size: 18px;
    
}

.discount-container {
    margin-top: 24px;
    gap: 16x;
}

.video-container-left ul li{
    font-size: 14px;
}

.catagory-container {
    margin-top: 24px;
}





}


