/* ------large divices styles------- */
@media screen and (max-width: 992px) {
    
    .container {
        padding: 30px 30px 0;
    }

    ul .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    .banner-description {
        margin: 24px 30px;
    }


}











/* ----------medium devices styles----------- */

@media screen and (max-width: 768px) {

    .nav-title {
        gap: 10px;
    }

    .nav-title img {
        width: 40px;
    }
    
    .nav-title h3 {
        font-size: 1.75rem;
    }


    .banner-title {
        font-size: 48px;
    }

    nav {
        padding-top: 0;
    }
}









/* -----------small devices styles----------- */


@media screen and (max-width: 576px) {

    .nav-title img {
        width: 29px;
    }

    .nav-title h3 {
        font-size: 21.543px;
    }

    .header-banner {
        padding: 32px 0 48px 0;
    }

    .banner-title {
        font-size: 22px;
    }

    .banner-description {
        font-size: 14px;
    }

    .header-form form {
        flex-direction: column;
        margin-top: 32px;
    }

    .header-form form input, .header-form form select {
        width:255px;
    }

    .search-button {
        width: 255px;
    }



}